In [10]:
import pandas as pd

In [13]:
import os
print (os.getcwd()) #현재 디렉토리의 위치 확인
#df = pandas.read_csv('../data/gapminder.tsv', sep = '\t')

df = pandas.read_csv('./data/gapminder.tsv', sep='\t')

C:\Users\PDJ\Documents\Python Scripts\doit_pandas-master

In [14]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [15]:
print(type(df)) #데이터타입 확인

<class 'pandas.core.frame.DataFrame'>

In [16]:
print(df.shape)#데이터 행, 열 정보 파악 : shape 속성(!=method)

(1704, 6)

In [17]:
print(df.columns)#열 이름 확인

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [18]:
print(df.dtypes) #R의 str()같은 느낌의 .dtypes : 데이터프레임을 구성하는 값의 자료형
print(df.info()) #<class 'pandas.cpre.frame.DataFrame'부터 시작>

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [25]:
#열 단위로 데이터 추출하기: 대괄호와 작은 따옴표!!!
#열 하나만 부르면 시리즈, 두 개 이상부터는 데이터 프레임.
country_df = df['country']
country_df
#type(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [26]:
subset = df[['country', 'continent', 'year']]   #한거번에 많은 데이터 추출(loc), 선택 ==> 인덱스값 선택, 그리고 큰 대괄호...
type(subset)

pandas.core.frame.DataFrame

In [27]:
print(subset.head())
print(subset.tail())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [28]:
#행 단위로 데이터 추출하기
#loc: '인덱스'를 기준으로 행 데이터 추출 // iloc: '행 번호'를 기준으로 행 데이터 추출

#pandas에서의 인덱스 == 숫자로 시작한다면 0부터 시작되고, 행이 추가/삭제되면 그에 따라 변한다.
#문자열을 사용할 수도 있다(first, second 등) #데이터프레임 가장 0번 컬럼 좌측에 표시된다.

#pandas에서의 행 번호 == 데잍의 순서. 정수만으로 데이터 조회, 추출할 수 있고 실제 데이터프레임에서는 확인 불가능.
print(df.loc[0])   #df 데이터프레임의 0번째 행 추출: 0 인덱스를 뽑아낸 것임.

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [29]:
number_of_rows = df.shape[0]        #df.shape를 통해 행, 열 크기 정보 확인
last_row_index = number_of_rows -1
print(df.loc[last_row_index])       #마지막 행 출력하기

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [30]:
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [31]:
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [34]:
#tail 메서드와 loc속성이 반환하는 자료형은 서로 다르다! loc() : 시리즈, tail(): 데이터프레임
subset_loc = df.loc[0]
subset_tail = df.tail(n=1)

print(type(subset_loc)),
print(type(subset_tail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [36]:
print(df.iloc[1])
print(df.iloc[99])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object
country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [37]:
print(df.iloc[-1])    # -1을 전달하여 마지막 행 데이터를 추출한 것.

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [38]:
# iloc도 마찬가지로 여러 데이터를 한 번에 추출 가능.
print(df.iloc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [39]:
#slicing, rangne 메서드를 활용한 데이터 추출
subset = df.loc[:, ['year', 'pop']]
print(subset.head())

subet2 = df.iloc[:, [2, 4, -1]]
print(subset2.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [42]:
small_range = list(range(5))
print(small_range)

print(type(small_range))

subset = df.iloc[:, small_range]
print(subset.head())

small_range = list(range(3, 6))
print(small_range)

subset = df.iloc[:, small_range]
print(subset.head())

[0, 1, 2, 3, 4]
<class 'list'>
       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460
[3, 4, 5]
   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [43]:
#0부터 5까지 2씩 건너뛰는 제너레이터...
small_range = list(range (0, 6, 2))
subset = df.iloc[:, small_range]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [44]:
#range보다 빈번하게 쓰이는 파이썬 슬라이싱 구문(제너레이터를 리스트로 변환하는 과정 없어도 됨.)

subset = df.iloc[:, :3]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [47]:
subset = df.iloc[:, 0:6:2]
print(subset.head())
print(df.iloc[[0, 99, 999], [0, 3, 5]])   #0, 99, 999번째 행의 0, 3, 5번째 열 출력

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [49]:
print(df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [51]:
print(df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244