#03-3. 시리즈 다루기 응용: Boolean 추출

In [1]:
#Boolean 추출: 특정 조건을 만족하는 값만 추출함.
import pandas as pd

scientists = pd.read_csv('./data/scientists.csv')
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [2]:
print(ages[ages > ages.mean()]) #조건을 충족하는 인덱스 및 데이터를 보여줌.
print()
print(ages > ages.mean()) #조건 충족여부를 T/F로 보여줌
print()
print(type(ages > ages.mean()))
print()
print()
#True, False를 리스트 형태로 변수에 담아 시리즈에 전달하면 ==> 순서상 True에 해당하는 index와 값을 출력
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

<class 'pandas.core.series.Series'>


0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [4]:
#벡터, 스칼라로 브로드캐스팅 수행 
print(ages)
print("\n", ages + ages)
print("\n", ages * ages)

#벡터에 스칼라를 연산
print("\n","\n","길이가 서로 다른 경우의 벡터 & 스칼라 연산")
print(ages+100)
print("\n", ages*2)

#길이가 다른 경우의 역순
print("\n","\n","길이가 서로 다른 경우의 벡터 & 스칼라 연산")
print(pd.Series([1, 100]))
print(ages+pd.Series([1, 100])) #인덱스가 일치하는 0~1행만 계산되고 나머지는 NaN 출력

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

 0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

 0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64


 길이가 서로 다른 경우의 벡터 & 스칼라 연산

 0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

 0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64


 길이가 서로 다른 경우의 벡터 & 스칼라 연산
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [6]:
#sort_index 메서드를 활용한 정렬
print("sort_index 메서드를 활용하여 인덱스를 기준으로 정렬")
rev_ages = ages.sort_index(ascending = False)   #인덱스 기준으로 역순 정렬(!=데이터의 역순 정렬)
print(rev_ages)

#서로 인덱스 순서가 맞지 않는 벡터끼리의 연산
print("\n", "\n", "index 순으로 정렬된 df & index 역순으로 정렬된 df의 연산?")
print("\n", ages * 2)
print("\n", ages + rev_ages)  #두 연산의 결과가 동일하다 == 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다!

sort_index 메서드를 활용하여 인덱스를 기준으로 정렬
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64


 index 순으로 정렬된 df & index 역순으로 정렬된 df의 연산?

 0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

 0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#03-4: 데이터프레임 다루기

In [7]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [8]:
#bool 벡터
print(scientists.loc[[True, True, False, True]])   #bool 값이 False인 행은 출력하지 않는다.

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [9]:
#브로드캐스팅 하기: 데이터프레임 & 스칼라 연산
print(scientists * 2)  #문자열은 2회 반복되고, 정수 데이터는 2를 곱한 숫자가 된다.

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician