03-5

In [4]:
import pandas as pd

scientists = pd.read_csv('./data/scientists.csv')
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [5]:
#문자열로 저장된 날짜 데이터 : datetime 자료형으로 바꿔 시간 관련 작업에 용이하게 하기
#pd.to_datetime()
born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
print(born_datetime, "\n", died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
 0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [6]:
#datetime형으로 바꾼 새 변수를 데이터프레임에 새로운 열로 추가하기
#born_dt = born_datetime, died_dt = died_datetime
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print("\n", scientists.shape)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

 (8, 7)

In [7]:
#시간 계산: datetime형끼리의 계산: (나중 시간) - (이전 시간)
print(scientists['died_dt'] - scientists['born_dt'])

0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
dtype: timedelta64[ns]

In [8]:
#시리즈, 데이터프레임의 데이터 섞기: random 라이브러리
print(scientists['Age'])

import random
random.seed(0)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

C:\WORK_anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    56
1    61
2    45
3    90
4    37
5    66
6    77
7    41
Name: Age, dtype: int64

In [9]:
#데이터프레임 열 통째로 삭제: .drop()

#먼저 열을 확인: .columns
print(scientists.columns)

scientists_dropped = scientists.drop(['Age'], axis = 1)  #axis = 1 == Age '열' 삭제   #axis = 0 == 행
print("\n", scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt'], dtype='object')

 Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt'], dtype='object')

03-6: 데이터 저장하고 불러오기 - 피클, CSV, TSV

In [10]:
#pickle: 데이터를 바이너라 형태로 직렬화한 오브젝트를 저장하는 방법
#시리즈를 피클로 저장하기: to_pickle(저장경로)

names = scientists['Name']
names.to_pickle('./data/scientists_names_series.pickle')

In [11]:
#데이터프레임을 피클로 저장하기
scientists.to_pickle('./data/scientists_names_df.pickle')

In [13]:
#피클 파일 읽어오기: 바이너리 형태의 오브젝트이므로, 다른 프로그램에서 열면 이상한 문자들로 나타난다.
scientist_names_pickle = pd.read_pickle('./data/scientists_names_series.pickle')
print(scientist_names_pickle)

scientist_from_pickle = pd.read_pickle('./data/scientists_names_df.pickle')
print("\n", scientist_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   56             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   45               Nurse
3           Marie Curie  1867-11-07  1934-07-04   90             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   37           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   77  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23

In [15]:
#csv: Comma Seperated
#tsv: Tab Seperated
#시리즈와 데이터프레임의 엑셀 파일저장
##시리즈: 엑셀 구조와 맞지 않아 곧바로 저장 불가. 데이터프레임으로 변환 후에 to_excel() 메서드로 저장 가능.
##데이터프레임: 곧바로 to_excel() 메서드로 엑셀파일로 저장 가능.

names_df = names.to_frame() #위에서 정의한 names 시리즈를 데이터프레임으로 변환
type(names_df)

import xlwt
names_df.to_excel('./data/scientists_names_series_df.xls')
import openpyxl
names_df.to_excel('./data/scientists_names_series_df.xlsx')