# 7-1. 열과 피벗

 - 넓은 데이터: 데이터프레임의 열 자체가 어떤 값을 의미하는 자료 형태. 열이 옆으로 길게 늘어선 형태임.

 - melt 메서드 : 지정한 열의 데이터를 모두 행으로 정리해 줌.
  * id_vars: 위치를 그대로 유지할 열의 이름 지정
  * value_vars: 행으로 위치를 변경할 열의 이름 지정
  * var_name: value_vars로 위치를 변경할 열의 이름 지정
  * value_name: var_name으로 위치를 변경한 열의 데이터를 저장한 열의 이름을 지정.

#### 7-1-1. 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [2]:
import pandas as pd
pew = pd.read_csv('./data/pew.csv')  #종교(행)에 따른 소득 정보(열)
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [3]:
print(pew.iloc[:, 0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [5]:
#열의 소득 정보들을 행 데이터로 옮기기
#10개의 소득 범위는 variable이라는 1개 열로, 소득에 속하던 값들은 value 열로 정리됨.
#==> 'religion열을 고정하여 pivot했다.'
pew_long = pd.melt(pew, id_vars = 'religion')
print(pew_long)

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [6]:
#variable, value 열의 이름 바꾸기
pew_long = pd.melt(pew, id_vars = 'religion', var_name = 'income', value_name = 'count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

#### 7-1-2. 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [7]:
import pandas as pd

billboard = pd.read_csv("./data/billboard.csv")
print(billboard.iloc[0:5, 0:16])

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0

In [8]:
#year부터 date.entered 열을 모두 고정, 나머지 열들을 피벗하기.

billboard_long = pd.melt(billboard, 
                         id_vars = ['year', 'artist', 'track', 'time', 'date.entered'],
                         var_name = 'week',
                         value_name = 'rating')
print(billboard_long)

       year                artist                    track  time date.entered  \
0      2000                 2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000               2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000          3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000          3 Doors Down                    Loser  4:24   2000-10-21
4      2000              504 Boyz            Wobble Wobble  3:35   2000-04-15
5      2000                  98^0  Give Me Just One Nig...  3:24   2000-08-19
6      2000               A*Teens            Dancing Queen  3:44   2000-07-08
7      2000               Aaliyah            I Don't Wanna  4:15   2000-01-29
8      2000               Aaliyah                Try Again  4:03   2000-03-18
9      2000        Adams, Yolanda            Open My Heart  5:30   2000-08-26
10     2000         Adkins, Trace                     More  3:05   2000-04-29
11     2000   Aguilera, Christina  Come On Over Baby (A...  3:38   2000-08-05
12     2000   Aguilera, Christina            I Turn To You  4:00   2000-04-15
13     2000   Aguilera, Christina        What A Girl Wants  3:18   1999-11-27
14     2000          Alice Deejay         Better Off Alone  6:50   2000-04-08
15     2000           Allan, Gary  Smoke Rings In The D...  4:18   2000-01-22
16     2000                 Amber                   Sexual  4:38   1999-07-17
17     2000             Anastacia           I'm Outta Love  4:01   2000-04-01
18     2000         Anthony, Marc              My Baby You  3:59   2000-09-16
19     2000         Anthony, Marc           You Sang To Me  3:50   2000-02-26
20     2000                 Avant            My First Love  4:28   2000-11-04
21     2000                 Avant                Separated  4:13   2000-04-29
22     2000                 BBMak                Back Here  3:35   2000-04-29
23     2000  Backstreet Boys, The        Shape Of My Heart  3:49   2000-10-14
24     2000  Backstreet Boys, The  Show Me The Meaning ...  3:54   2000-01-01
25     2000  Backstreet Boys, The                  The One  3:46   2000-05-27
26     2000          Badu, Erkyah                 Bag Lady  5:03   2000-08-19
27     2000              Baha Men     Who Let The Dogs Out  3:17   2000-07-22
28     2000      Barenaked Ladies                 Pinch Me  3:46   2000-09-09
29     2000            Beenie Man          Girls Dem Sugar  4:17   2000-10-21
...     ...                   ...                      ...   ...          ...
24062  2000          Thomas, Carl                Emotional  4:31   2000-11-25
24063  2000          Thomas, Carl                   I Wish  3:50   2000-03-25
24064  2000          Thomas, Carl              Summer Rain  4:57   2000-09-23
24065  2000         Tippin, Aaron                Kiss This  2:53   2000-08-26
24066  2000                 Train            Meet Virginia  3:55   1999-10-09
24067  2000           Trick Daddy                  Shut Up  4:17   2000-05-20
24068  2000                 Trina                Pull Over  2:58   2000-09-09
24069  2000         Tritt, Travis       Best Of Intentions  4:15   2000-08-19
24070  2000               Tuesday                   I Know  4:06   2000-12-30
24071  2000          Urban, Keith          Your Everything  4:10   2000-07-15
24072  2000                 Usher            Pop Ya Collar  3:36   2000-11-04
24073  2000          Vassar, Phil                  Carlene  4:07   2000-03-04
24074  2000          Vassar, Phil  Just Another Day In ...  3:54   2000-09-30
24075  2000      Vertical Horizon      Everything You Want  4:01   2000-01-22
24076  2000      Vertical Horizon             You're A God  3:45   2000-08-26
24077  2000             Vitamin C  Graduation (Friends ...  4:23   2000-04-15
24078  2000             Vitamin C                 The Itch  3:30   2000-12-02
24079  2000          Walker, Clay        Live, Laugh, Love  4:06   1999-12-04
24080  2000          Walker, Clay        The Chain Of Love  5:03   2000-04-15
24081  2000      Wallflowers, The              Sleepwalker  3:29   2000-10-28
24082  2000              Westlife           Swear It Again  4:07   2000-04-01
24083  2000      Williams, Robbie                   Angels  3:56   1999-11-20
24084  2000           Wills, Mark              Back At One  4:00   2000-01-15
24085  2000        Worley, Darryl  When You Need My Lov...  3:35   2000-06-17
24086  2000         Wright, Chely                   It Was  3:51   2000-03-04
24087  2000           Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000      Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000       Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000         Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000       matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
5       wk1    51.0
6       wk1    97.0
7       wk1    84.0
8       wk1    59.0
9       wk1    76.0
10      wk1    84.0
11      wk1    57.0
12      wk1    50.0
13      wk1    71.0
14      wk1    79.0
15      wk1    80.0
16      wk1    99.0
17      wk1    92.0
18      wk1    82.0
19      wk1    77.0
20      wk1    70.0
21      wk1    62.0
22      wk1    99.0
23      wk1    39.0
24      wk1    74.0
25      wk1    58.0
26      wk1    67.0
27      wk1    99.0
28      wk1    77.0
29      wk1    72.0
...     ...     ...
24062  wk76     NaN
24063  wk76     NaN
24064  wk76     NaN
24065  wk76     NaN
24066  wk76     NaN
24067  wk76     NaN
24068  wk76     NaN
24069  wk76     NaN
24070  wk76     NaN
24071  wk76     NaN
24072  wk76     NaN
24073  wk76     NaN
24074  wk76     NaN
24075  wk76     NaN
24076  wk76     NaN
24077  wk76     NaN
24078  wk76     NaN
24079  wk76     NaN
24080  wk76     NaN
24081  wk76     NaN
24082  wk76     NaN
24083  wk76     NaN
24084  wk76     NaN
24085  wk76     NaN
24086  wk76     NaN
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

# 7-2. 열 이름 관리하기

#### 하나의 열이 여러 의미를 가지고 있는 경우.

In [9]:
import pandas as pd

ebola = pd.read_csv('./data/country_timeseries.csv')
print(ebola.columns)
print('\n', ebola.iloc[:5, [0, 1, 2, 3, 10, 11]])

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

          Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [10]:
#Date와 Day를 고정하고 나머지를 행으로 피벗.

ebola_long = pd.melt(ebola, id_vars = ['Date', 'Day'])
print(ebola_long)

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
5     12/28/2014  281  Cases_Guinea  2706.0
6     12/27/2014  280  Cases_Guinea  2695.0
7     12/24/2014  277  Cases_Guinea  2630.0
8     12/21/2014  273  Cases_Guinea  2597.0
9     12/20/2014  272  Cases_Guinea  2571.0
10    12/18/2014  271  Cases_Guinea     NaN
11    12/14/2014  267  Cases_Guinea  2416.0
12     12/9/2014  262  Cases_Guinea     NaN
13     12/7/2014  260  Cases_Guinea  2292.0
14     12/3/2014  256  Cases_Guinea     NaN
15    11/30/2014  253  Cases_Guinea  2164.0
16    11/28/2014  251  Cases_Guinea     NaN
17    11/23/2014  246  Cases_Guinea  2134.0
18    11/22/2014  245  Cases_Guinea     NaN
19    11/18/2014  241  Cases_Guinea  2047.0
20    11/16/2014  239  Cases_Guinea  1971.0
21    11/15/2014  238  Cases_Guinea     NaN
22    11/11/2014  234  Cases_Guinea  1919.0
23    11/10/2014  233  Cases_Guinea     NaN
24     11/9/2014  232  Cases_Guinea  1878.0
25     11/8/2014  231  Cases_Guinea     NaN
26     11/4/2014  227  Cases_Guinea     NaN
27     11/3/2014  226  Cases_Guinea  1760.0
28     11/2/2014  225  Cases_Guinea  1731.0
29    10/31/2014  222  Cases_Guinea     NaN
...          ...  ...           ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN
1923   5/12/2014   51   Deaths_Mali     NaN
1924   5/10/2014   49   Deaths_Mali     NaN
1925    5/7/2014   46   Deaths_Mali     NaN
1926    5/5/2014   44   Deaths_Mali     NaN
1927    5/3/2014   42   Deaths_Mali     NaN
1928    5/1/2014   40   Deaths_Mali     NaN
1929   4/26/2014   35   Deaths_Mali     NaN
1930   4/24/2014   33   Deaths_Mali     NaN
1931   4/23/2014   32   Deaths_Mali     NaN
1932   4/22/2014   31   Deaths_Mali     NaN
1933   4/21/2014   30   Deaths_Mali     NaN
1934   4/20/2014   29   Deaths_Mali     NaN
1935   4/17/2014   26   Deaths_Mali     NaN
1936   4/16/2014   25   Deaths_Mali     NaN
1937   4/15/2014   24   Deaths_Mali     NaN
1938   4/14/2014   23   Deaths_Mali     NaN
1939   4/11/2014   20   Deaths_Mali     NaN
1940    4/9/2014   18   Deaths_Mali     NaN
1941    4/7/2014   16   Deaths_Mali     NaN
1942    4/4/2014   13   Deaths_Mali     NaN
1943    4/1/2014   10   Deaths_Mali     NaN
1944   3/31/2014    9   Deaths_Mali     NaN
1945   3/29/2014    7   Deaths_Mali     NaN
1946   3/28/2014    6   Deaths_Mali     NaN
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

#### split 메서드로 열 이름 분리하기.

In [13]:
#ex. Cases_Guinea 같이 2개 이상의 의미를 가진 열 이름을 '_'을 기준으로 분리하기.
variable_split = ebola_long.variable.str.split('_')
print(variable_split[:5])

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [15]:
print(type(variable_split))    #전체는 시리즈 자료형
print(type(variable_split[0])) #각 값은 리스트

<class 'pandas.core.series.Series'>
<class 'list'>

In [18]:
#variable_split의 0행: '발병(Cases), 죽음(Death)' // 1행: 지역 이름
#이 문자열을 분리하여 데이터프레임의 새로운 열로 추가.

#get 메서드를 사용해 0, 1번째 인덱스의 데이터를 한 번에 추출하기.
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)
print(status_values[:5])
print(status_values[-5:])
print(country_values[:5])
print(country_values[-5:])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [19]:
#위에서 분리한 문자열을 status, country라는 열 이름으로 데이터프레임에 추가.
ebola_long['status'] = status_values
ebola_long['country'] = country_values

print(ebola_long)

            Date  Day      variable   value  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

In [27]:
#Tip. concat 메서드로 split으로 분리한 데이터를 바로 DataFrame에 추가하기.
variable_split = ebola_long.variable.str.split('_', expand = True)
#print(variable_split)          #컬럼명은 0, 1         #데이터는 0열에 발병/죽음 상태, 1열에 지역정보.
variable_split.columns = ['status', 'country']
ebola_parsed = pd.concat([ebola_long, variable_split], axis = 1)
print(ebola_parsed)

            Date  Day      variable   value  status country  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea   Cases  Guinea
...          ...  ...           ...     ...     ...     ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali  Deaths    Mali

[1952 rows x 8 columns]

# 7-3. 여러 열을 하나로 정리하기

#### 비슷한 성질의 데이터를 관리하기 위해 분리된 여러 개의 열을 정리하는 방법.

#### 7-3-1. 기상 데이터의 여러 열을 하나로 정리하기: melt, pivot_table 메서드

In [29]:
#월별 최고, 최저 온도 데이터(element), 일별 온도 측정값(d1 ~ d31)
weather = pd.read_csv('./data/weather.csv')
print(weather.iloc[:5, :])

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [31]:
#melt 메서드로 일별 온도 측정값 피벗.
#day열에 날짜 열에 정리되고, 날짜 열의 데이터는 temp열에 정리됨.

weather_melt = pd.melt(weather, 
                       id_vars = ['id', 'year', 'month', 'element'],
                       var_name = 'day', 
                       value_name = 'temp')
print(weather_melt)
#그러나, 아직 최고/최저 온도가 정리가 잘 안 되어있다.

          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
5    MX17004  2010      3    tmin   d1   NaN
6    MX17004  2010      4    tmax   d1   NaN
7    MX17004  2010      4    tmin   d1   NaN
8    MX17004  2010      5    tmax   d1   NaN
9    MX17004  2010      5    tmin   d1   NaN
10   MX17004  2010      6    tmax   d1   NaN
11   MX17004  2010      6    tmin   d1   NaN
12   MX17004  2010      7    tmax   d1   NaN
13   MX17004  2010      7    tmin   d1   NaN
14   MX17004  2010      8    tmax   d1   NaN
15   MX17004  2010      8    tmin   d1   NaN
16   MX17004  2010     10    tmax   d1   NaN
17   MX17004  2010     10    tmin   d1   NaN
18   MX17004  2010     11    tmax   d1   NaN
19   MX17004  2010     11    tmin   d1   NaN
20   MX17004  2010     12    tmax   d1  29.9
21   MX17004  2010     12    tmin   d1  13.8
22   MX17004  2010      1    tmax   d2   NaN
23   MX17004  2010      1    tmin   d2   NaN
24   MX17004  2010      2    tmax   d2  27.3
25   MX17004  2010      2    tmin   d2  14.4
26   MX17004  2010      3    tmax   d2   NaN
27   MX17004  2010      3    tmin   d2   NaN
28   MX17004  2010      4    tmax   d2   NaN
29   MX17004  2010      4    tmin   d2   NaN
..       ...   ...    ...     ...  ...   ...
652  MX17004  2010      8    tmax  d30   NaN
653  MX17004  2010      8    tmin  d30   NaN
654  MX17004  2010     10    tmax  d30   NaN
655  MX17004  2010     10    tmin  d30   NaN
656  MX17004  2010     11    tmax  d30   NaN
657  MX17004  2010     11    tmin  d30   NaN
658  MX17004  2010     12    tmax  d30   NaN
659  MX17004  2010     12    tmin  d30   NaN
660  MX17004  2010      1    tmax  d31   NaN
661  MX17004  2010      1    tmin  d31   NaN
662  MX17004  2010      2    tmax  d31   NaN
663  MX17004  2010      2    tmin  d31   NaN
664  MX17004  2010      3    tmax  d31   NaN
665  MX17004  2010      3    tmin  d31   NaN
666  MX17004  2010      4    tmax  d31   NaN
667  MX17004  2010      4    tmin  d31   NaN
668  MX17004  2010      5    tmax  d31   NaN
669  MX17004  2010      5    tmin  d31   NaN
670  MX17004  2010      6    tmax  d31   NaN
671  MX17004  2010      6    tmin  d31   NaN
672  MX17004  2010      7    tmax  d31   NaN
673  MX17004  2010      7    tmin  d31   NaN
674  MX17004  2010      8    tmax  d31  25.4
675  MX17004  2010      8    tmin  d31  15.4
676  MX17004  2010     10    tmax  d31   NaN
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [33]:
#pivot_table 메서드로 행, 열 위치 다시 바꿔 정리하기.

weather_tidy = weather_melt.pivot_table(
        index = ['id', 'year', 'month', 'day'],
        columns = 'element',
        values = 'temp',
        dropna = False
)
print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30  27.8  14.5
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6    NaN   NaN
                   d7    NaN   NaN
                   d8    NaN   NaN
...                      ...   ...
             12    d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30   NaN   NaN
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]

In [34]:
#위에서 구한 데이터프레임의 인덱스를 reset_index 메서드로 새로 지정.
weather_tidy_flat = weather_tidy.reset_index()

print(weather_tidy_flat)

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN
5        MX17004  2010      1  d14   NaN   NaN
6        MX17004  2010      1  d15   NaN   NaN
7        MX17004  2010      1  d16   NaN   NaN
8        MX17004  2010      1  d17   NaN   NaN
9        MX17004  2010      1  d18   NaN   NaN
10       MX17004  2010      1  d19   NaN   NaN
11       MX17004  2010      1   d2   NaN   NaN
12       MX17004  2010      1  d20   NaN   NaN
13       MX17004  2010      1  d21   NaN   NaN
14       MX17004  2010      1  d22   NaN   NaN
15       MX17004  2010      1  d23   NaN   NaN
16       MX17004  2010      1  d24   NaN   NaN
17       MX17004  2010      1  d25   NaN   NaN
18       MX17004  2010      1  d26   NaN   NaN
19       MX17004  2010      1  d27   NaN   NaN
20       MX17004  2010      1  d28   NaN   NaN
21       MX17004  2010      1  d29   NaN   NaN
22       MX17004  2010      1   d3   NaN   NaN
23       MX17004  2010      1  d30  27.8  14.5
24       MX17004  2010      1  d31   NaN   NaN
25       MX17004  2010      1   d4   NaN   NaN
26       MX17004  2010      1   d5   NaN   NaN
27       MX17004  2010      1   d6   NaN   NaN
28       MX17004  2010      1   d7   NaN   NaN
29       MX17004  2010      1   d8   NaN   NaN
..           ...   ...    ...  ...   ...   ...
311      MX17004  2010     12  d10   NaN   NaN
312      MX17004  2010     12  d11   NaN   NaN
313      MX17004  2010     12  d12   NaN   NaN
314      MX17004  2010     12  d13   NaN   NaN
315      MX17004  2010     12  d14   NaN   NaN
316      MX17004  2010     12  d15   NaN   NaN
317      MX17004  2010     12  d16   NaN   NaN
318      MX17004  2010     12  d17   NaN   NaN
319      MX17004  2010     12  d18   NaN   NaN
320      MX17004  2010     12  d19   NaN   NaN
321      MX17004  2010     12   d2   NaN   NaN
322      MX17004  2010     12  d20   NaN   NaN
323      MX17004  2010     12  d21   NaN   NaN
324      MX17004  2010     12  d22   NaN   NaN
325      MX17004  2010     12  d23   NaN   NaN
326      MX17004  2010     12  d24   NaN   NaN
327      MX17004  2010     12  d25   NaN   NaN
328      MX17004  2010     12  d26   NaN   NaN
329      MX17004  2010     12  d27   NaN   NaN
330      MX17004  2010     12  d28   NaN   NaN
331      MX17004  2010     12  d29   NaN   NaN
332      MX17004  2010     12   d3   NaN   NaN
333      MX17004  2010     12  d30   NaN   NaN
334      MX17004  2010     12  d31   NaN   NaN
335      MX17004  2010     12   d4   NaN   NaN
336      MX17004  2010     12   d5   NaN   NaN
337      MX17004  2010     12   d6  27.8  10.5
338      MX17004  2010     12   d7   NaN   NaN
339      MX17004  2010     12   d8   NaN   NaN
340      MX17004  2010     12   d9   NaN   NaN

[341 rows x 6 columns]