# 7-4. 중복 데이터 처리하기

In [1]:
#artist, track, time, date.enterd열의 데이터가 반복되는 빌보드 차트 데이터!
import pandas as pd

billboard = pd.read_csv("./data/billboard.csv")
billboard_long = pd.melt(billboard, 
                         id_vars = ['year', 'artist', 'track', 'time', 'date.entered'],
                         var_name = 'week',
                         value_name = 'rating')

print(billboard_long.shape)
print(billboard_long.head())

(24092, 7)
   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [3]:
#노래 제목이 Loser인 데이터만 모아보면, 중복 데이터가 꽤 많은 걸 알 수 있다.

print(billboard_long[billboard_long.track == 'Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [5]:
#중복데이터 : year, artist, track, time, date
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']]
print(billboard_songs.shape)

(24092, 4)

In [6]:
#중복 데이터 제거: drop_duplicates
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

In [7]:
#중복 제거 완료.
#이제는 데이터프레임에 id도 추가.   ==> id를 추가하면 데이터를 쉽게 조회, 구분 가능.
billboard_songs['id'] = range(len(billboard_songs))
print(billboard_songs.head(10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [8]:
#merge 메서드를 사용해 노래 정보와 주간 순위 데이터를 합침.
billboard_ratings = billboard_long.merge(billboard_songs, on = ['year', 'artist', 'track', 'time'])
print(billboard_ratings.shape)

print(billboard_ratings.head())

(24092, 8)
   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

# 7-5. 대용량 데이터 처리하기

#### 여러 개로 나누어진 데이터 불러오기.

In [10]:
#뉴욕 택시 데이터: 13억대의 뉴욕 택시에 대한 정보, 140개 파일.
#이 중 5개의 데이터만 다운받아 사용해 보겠다.

import os
import urllib.request

with open('./data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break
        fn = url.split('/')[-1].strip()
        fp = os.path.join('', './data', fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

./data\fhv_tripdata_2015-01.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv

./data\fhv_tripdata_2015-02.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv

./data\fhv_tripdata_2015-03.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv

./data\fhv_tripdata_2015-04.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv

./data\fhv_tripdata_2015-05.csv

In [18]:
#glob 메서드: 특정한 패턴의 이름을 가진 파일을 한 번에 읽어들임.
#glob으로 5개의 파일 불러오기..
import glob
nyc_taxi_data = glob.glob('./data/fhv_*')
print(nyc_taxi_data)

['./data\\fhv_tripdata_2015-01.csv', './data\\fhv_tripdata_2015-02.csv', './data\\fhv_tripdata_2015-03.csv', './data\\fhv_tripdata_2015-04.csv', './data\\fhv_tripdata_2015-05.csv']

In [19]:
#그 후 각각의 파일을 데이터프레임으로 저장
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

In [20]:
print(taxi1.head(2))
print(taxi2.head(2))
print(taxi3.head(2))
print(taxi4.head(2))
print(taxi5.head(2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN

In [21]:
#데이터 구조 확인.
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

In [23]:
#각 데이터프레임 연결하기: concat 메서드
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])
print(taxi.shape)

(17367717, 3)

In [26]:
#Tip. 반복문을 사용하여 단 몇 줄만으로 데이터 준비하기
#앞에서 생성한 파일 목록(nyc_taxi_data)을 읽어들여 리스트(list_taxi_df)에 이어붙임.
list_taxi_df = []

for csv_filename in nyc_taxi_data:
    #print(csv_filename)
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)

print(len(list_taxi_df))   #불러들어온 파일 개수 확인

print(type(list_taxi_df[0]))

print(list_taxi_df[0].head())

taxi_loop_concat = pd.concat(list_taxi_df) #리스트(list_taxi_df)에 5개의 파일들을 이어붙임.
print(taxi_loop_concat.shape)

print(taxi.equals(taxi_loop_concat))       #위에서 생성한 taxi와 taxi_loop_concat 같은가 확인.

5
<class 'pandas.core.frame.DataFrame'>
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN
(17367717, 3)
True